
.table th, .table td {
    text-align: left; /* Align the content to the left */
    border: 2px solid steelblue;
    padding: 20px;
}

.currency-select {
    margin: 10px;
    padding: 0px;
    font-size: 1em;
}

.selected-currency-select {
    margin: 10px;
    padding: 65px 0 0 0;
    font-size: 1em;
}

button {
    margin: 10px;
    padding: 10px;
    font-size: 1em;
    background-color: steelblue; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.input-number {
    width: 200px; /* Adjust the width as needed */
    height: 30px; /* Adjust the height as needed */
    font-size: 1em;
    margin: 10px;
}

.input-number::-webkit-inner-spin-button,
.input-number::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-number {
    -moz-appearance: textfield;
}

.input-output-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.input-container, .output-container {
    width: 40%;
}

button {
    width: 10%;
}


@media (max-width: 600px) {
    .input-output-container {
        flex-direction: column;
    }

    .input-container, .output-container, button {
        width: 100%;
    }

    .currency-info {
        text-align: center;
    }
}

